body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* head部分 */
.header {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    width: 20%;
    height: 9vh;
}
.header__logo img {
    display: block;
    margin-top: 7%;
    margin-left: 7%;
}
.header__list {
    width: 45%;
    height: 9vh;
}
.header__list ul {
    display: flex;
    margin-left: 40%;
}
.header__list ul li {
    display: block;
    height: 100%;
    margin-top: 10px;
    margin-right: 10%;
}
/* head部分　終了*/

/* hero部分 */
.hero {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.hero img {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.hero__subtitle {
    position: absolute;
    top: 160px;
    left: 100px;
    color: rgb(255, 255, 255);
}
.hero__title {
    position: absolute;
    top: 180px;
    left: 100px;
    font-size: 60px;
    color: white;
}
/* hero部分終了 */

/* quiz部分 */
.quiz__1 {
    width: 70%;
    margin: 100px auto;
}
.quiz__number {
    width: 90px;
    height: 60px;
    background-color: #0071BC;
    border-radius: 8px;
}
.quiz__number--content {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
}
.quiz__prpblem {
    width: 100%;
    height: 100px;
    margin-top: 15px;
}
.quiz__prpblem p {
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    text-align: justify;
}
#quiz__image {
    display: block;
}
#quiz__image--content {
    display: block;
    margin: 30px auto;
}
/* quiz部分終了 */